
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    margin-top: 9px;
    padding-left: 30px;
}

header nav ul {
    width: 32vw;
    color: black;
    text-align: center;
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: 700;
    margin-top: 0px;
    font-size: 13px;

    /* 1. Add a semi-transparent background color using rgba() */
    background-color: rgba(255, 255, 255, 0.2);
    /* White with 20% opacity */

    /* 2. Apply the backdrop-filter property for the blur effect */
    backdrop-filter: blur(10px);
    /* Adjust the pixel value for more or less blur */

    /* 3. Add -webkit- prefix for wider browser compatibility (especially older Safari) */
    -webkit-backdrop-filter: blur(10px);

    /* Ensure content is positioned correctly */
    z-index: 1000;


    padding: 23px 25px;
    border-radius: 50px;
    position: fixed;
    top: 16px;
    left: 34%;
    /* right: 33%; */
    justify-content: center;
    /* border: 1px solid #fff; */
}

.logo {
    font-size: 1.8rem;

    padding-left: 20px;

}

.btn {
    font-weight: bold;
    padding: 15px 16px;
    background-color: #485C11;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 28px;
    font-size: 13px;
}



.btn:hover {
    background-color: #37420E;
    transition: 0.3s;
}

section.one {
    width: 100%;         
    height: 140vh;
    /* background-color: rgb(240, 240, 240); */
    position: relative;
}

.onebox {
    width: 80vw;
    margin: 64px auto;
    letter-spacing: -16.4px;
    display: flex;
    text-align: center;
    font-size: 160px;
    line-height: 136px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}


.threebox {
    width: 92vw;   
    margin: 100px auto;
    /* background-color: blue; */
    display: flex;
    text-align: center;
    height: 97vh;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
}

.twobox {
    width: 100%;
    height: 350px;      
    margin: auto;
    background-color: rgb(142, 156, 120);
    /* background-color: black; */
    /* display: flex;
    text-align: center; */
    position: absolute;
    bottom: 0;
    border-radius: 23px;

}

.threebox img {
    margin: 60px 126px;
    border-radius: 35px;
    border: 19px solid black;
    width: 900px;
    height: 650px;
    inset: 50% auto auto calc(50% + 0.5px);
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.two{
    width: 100%;         
    height: 145vh;
    /* background-color: rgb(240, 240, 240); */
}

.two p {
    color:grey;
    margin: 37px;
}
.two ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 100px;
    margin-top: 9vh;
}

.divider {
  width: 95%; /* Line spans the full width of its container */
  height: 0;   /* The div has no height, the border creates the line */
  border-bottom: 0.1px solid lightgray; /* Creates the visible line */
  margin: 4em auto; /* Adds vertical spacing */
}

.twobox-bg {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px 40px;
    font-size: 60px;
    font-weight: 500;
    line-height: 32px;
}

.dividers{
    display: flex;
}

.dividering {
  width: 21%;  
  height: 0;    
  border-bottom: 0.1px solid lightgray;
  margin: 4.5em 0px 0px 3.2%;  
 }
/* .divider2{
  width: 22%;  Line spans the full width of its container 
  height: 0;    The div has no height, the border creates the line 
  border-bottom: 0.1px solid lightgray;  Creates the visible line 
  margin: 4.5em 0px 0px 1.5%;  Adds vertical spacing 
}
.divider3{
  width: 22%;  Line spans the full width of its container 
  height: 0;    The div has no height, the border creates the line 
  border-bottom: 0.1px solid lightgray;  Creates the visible line 
  margin: 4.5em 0px 0px 1.5%;  Adds vertical spacing 
}
.divider4{
  width: 22%; Line spans the full width of its container 
  height: 0;   The div has no height, the border creates the line 
  border-bottom: 0.1px solid lightgray; Creates the visible line 
  margin: 4.5em 0px 0px 2%;  Adds vertical spacing 
}   */


.svgs {
    display: grid;
    grid-template-columns: repeat(4 , 292px);
    gap: 10px;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* gap: 150px; */
    margin-top: 7vh;
    /* background-color: violet; */
}

.svgsame{
    /* line-height: 0px; */
margin-left: 40px;
/* border: 3px solid black; */
}

.svgfour{
    margin-left: -160px;
}

.box-four{
margin-left:213px;
}
.box-bg div{
line-height: 47px;
}

.box-bg p{
     font-family: "DM Sans", sans-serif;
    line-height: 22px;
    margin: 0px;
    font-size: 15px;
    color: 
rgb(111, 111, 111);
}

.box-four{
    margin: 0px 0px 0px 214px;
}

.box-four div{
    line-height: 47px;

}
.box-four p{
    line-height: 22px;
    margin: 0px;
    font-size: 15px;
    color: rgb(111, 111, 111);
     font-family: "DM Sans", sans-serif;
}

.mountaine-image img{
    width: 93%;
    border-radius: 20px ;
    margin: auto;
    display: flex;
}

.three{
    width: 100%;         
    height: 100vh;
    background-color: rgb(240, 240, 240);
    position: relative;
}
.dividering{
    width: 50vw;
}

.random-image{
    display: flex;
    justify-content: end;
    margin: 10% 3%;

}

.random-image img{
width: 50vw;    
height: 120vh;
}
